<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <img src="https://images-na.ssl-images-amazon.com/images/I/514YMVAc6NL._SL1024_.jpg" class="card-img-top"
          alt="...">
        <h5 class="card-title">{{produc.title}}</h5>
        <p class="card-text">{{produc.description}}</p>
        <p class="text-danger">{{produc.price}} đ</p>
        <p class="card-text">{{produc.status ? 'Còn hàng' : 'Hết hàng'}}</p>
        <button class="btn btn-primary" (click)="onCLick($event)">Mua</button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <img src="https://images-na.ssl-images-amazon.com/images/I/514YMVAc6NL._SL1024_.jpg" class="card-img-top"
          alt="...">
        <h5 class="card-title">{{produc.title}}</h5>
        <p class="card-text">{{produc.description}}</p>
        <p class="text-danger">{{produc.price}} đ</p>
        <p class="card-text">{{produc.status ? 'Còn hàng' : 'Hết hàng'}}</p>
        <a href="#" class="btn btn-primary">Mua</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <img src="https://images-na.ssl-images-amazon.com/images/I/514YMVAc6NL._SL1024_.jpg" class="card-img-top"
          alt="...">
        <h5 class="card-title">{{produc.title}}</h5>
        <p class="card-text">{{produc.description}}</p>
        <p class="text-danger">{{produc.price}} đ</p>
        <p class="card-text">{{produc.status ? 'Còn hàng' : 'Hết hàng'}}</p>
        <a href="#" class="btn btn-primary">Mua</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <img src="https://images-na.ssl-images-amazon.com/images/I/514YMVAc6NL._SL1024_.jpg" class="card-img-top"
          alt="...">
        <h5 class="card-title">{{produc.title}}</h5>
        <p class="card-text">{{produc.description}}</p>
        <p class="text-danger">{{produc.price}} đ</p>
        <p class="card-text">{{produc.status ? 'Còn hàng' : 'Hết hàng'}}</p>
        <a href="#" class="btn btn-primary">Mua</a>
      </div>
    </div>
  </div>
</div>