<br>
<div class="container">
    
    <h5 style="color: red">Giới Thiệu Hoạt Động Của Cửa Hàng</h5>
					<hr class="soft">
					<h6>1. Hình Thức Mua Hàng Online Tại Khắc Thanh Shop</h6>
					<p>- Bạn đăt hàng trên Web → Nhân viên Khăc Thanh Shop sẽ gọi
						điện thoại xác nhận đơn hàng của bạn → Giao hàng và Thu tiền tận
						nơi trên toàn quốc.</p>
					<br>

					<h6>2. Thời gian mở cửa tại các Shop của Khắc Thanh Shop</h6>
					<p>- Các shop của Khăc Thanh Shop mở cửa từ 8h tới 21h tất cả các
						ngày, kể cả thứ 7 và Chủ Nhật</p>
					<br>

					<h6>3. Có phải đặt hàng online trên trang website trước khi
						đến các Shop của Khắc Thanh Shop hay không?</h6>
					<p>- Khắc Thanh Shop có đầy đủ các mặt hàng mà trên website bán,
						bạn có thể tới trực tiếp mua hàng không cần đặt trước trên website</p>
					<br>

					<h6>4. Mua tại các shop của Khăc Thanh Shop có nhận được tiền
						tích lũy không ?</h6>
					<p>- Tiền tích lũy chỉ áp dụng cho các thành viên của Website
						Khắc Thanh Shop mua hàng online bạn nhé.</p>
					<br>

					<h6>5. Giá các sản phẩm tại các shop Khắc Thanh Shop có giống
						giá trên Website Khắc Thanh Shop không ?</h6>
					<p>- Tất cả sản phẩm trên Website khắc Thanh Shop bán giống giá
						với tất cả các hệ thống Shop của Khắc Thanh Shop.</p>
					<br>

					<h6>6. Địa chỉ các Shop của Khắc Thanh Shop xem ở đâu ?</h6>
					<p>- Bạn bấm phần “Liên Hệ” trên đầu trang website để coi địa
						chỉ và số điện thoại các của các Shop của Khắc Thanh Shop.</p>
					<br>

					<h6>7. Xem phí vận chuyển như thế nào ?</h6>
					<p>- Tất cả các mặt hàng tại Khắc Thanh Shop có dịch vụ giao hàng
						miễn phí trong nội thành.</p>
					<p>- Bạn chỉ cần bấm “Đặt Hàng”, sau khi điền đầy đủ các thông
						tin hệ thống sẽ hiển thị đầy đủ chi tiết giá sp và tổng đơn hàng
						của bạn là bao nhiêu.</p>
					<br>

					<h6>8. Thời gian giao hàng đối với Hà Nội và các tỉnh thành
						trên cả nước</h6>
					<p>- Thời gian giao hàng: 1 - 3 ngày làm việc tại Hà Nội và 4 -
						6 ngày làm việc đối với các tỉnh thành khác. Không tính thời gian
						nghỉ lễ, thứ 7 - CN.</p>
					<br>

					<h6>9. Hàng của Khắc Thanh Shop đổi có giao hàng tận nơi không?</h6>
					<p>- Nếu bạn cho địa chỉ chính xác mà bưu điện có thể giao tới
						thì sẽ giao tận nơi bạn nhé, nếu bưu điện đã giao 1 lần, lần 2 mà
						ko liên lạc cho bạn đc thì bưu điện sẽ để lại giấy mời bạn lên bưu
						điện nhận hàng – đối với các địa chỉ ở các tỉnh.</p>
					<p>- Ở Hà Nội nhân viên Khắc Thanh Shop giao hàng tận nơi.</p>
					<br>

					<h6>10. Quyền lợi khi đăng ký thành viên và trở thành khách
						hàng thân thiết ntn?</h6>
					<p>- Bạn trở thành khách hàng thân thiện sẽ được tham gia miễn
						phí tất cả các chương trình giảm giá của Khắc Thanh SHop và còn được
						giảm thêm 5% - 10% tính trực tiếp trên giá trị từng đơn hàng.</p>
					<br>

					<h6>11. Muốn kiếm sản phẩm Khắc Thanh shop như thế nào nhanh nhất</h6>
					<p>- Bạn có thể gõ các từ khóa vào khung “ Tìm kiếm” phía bên
						phải để tìm sản phẩm bạn cần.</p>
					<p>- Hoặc bạn có thể xem các sản phẩm đã được nhóm theo từng
						danh mục ở phía dưới phần tìm kiếm.</p>
					<br>

					<h6>12. Hình thức đổi trả hàng như thế nào, nếu Sản Phẩm bị
						lỗi do Khắc Thanh Shop hoặc nhà sản xuất ?</h6>
					<p>- Bạn Có thể đổi trong vòng 7 ngày theo quy định của shop ,
						bạn gửi lại qua đường bưu điện về địa chỉ Ngách 36/77 Xuân La,
						quận Tây Hồ, Hà Nội hoặc bạn có thể mang tới
						tận nơi bạn nhé.</p>
					<br>

					<h6>13. Muốn hủy đơn hàng sau khi đã hoàn tất thanh toán thì
						phải làm sao?</h6>
					<p>- Bạn vừa đặt hàng xong thì sẽ có nhận viên gọi xác nhận lại
						đơn hàng, bạn cứ trao đổi với nhân viên đó và có thể yêu cầu hủy
						đơn hàng.</p>
					<br>
</div>
