<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h4>Địa Chỉ Liên Hệ</h4>
            <p >
                Ngõ 77/36 phố Xuân La,<br> phường Xuân La, quận Tây Hồ,
                Hà Nội <br> <br>Email: taikhoantaikhoandx@gmail.com<br>
                ﻿Phone: 01213321897<br> Facebook: <a
                    href="https://www.facebook.com/profile.php?id=100013479789337">http://facebook.com/ThanhKhac</a><br>
                Website: http://khacthanh.com.vn<br>
                <iframe
                    src="https://www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2FHieuDTPH04388&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80"
                    scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 450px; height: 80px;"
                    allowTransparency="true"></iframe>

            </p>
        </div>

        <div class="col-sm-6" >
            <h4>Thời Gian Mở Cửa</h4>
            <h5>Thứ 2 -> Thứ 6:</h5>
            <span> 08:30 AM - 09:00 PM </span> <br>
            <h5>Thứ 7:</h5>
            <span> 09:00 AM - 07:00 PM </span><br>
            <h5>Chủ Nhật:</h5>
            <span>12:30 PM - 06:00 PM</span> <br>
        </div>
    </div>
    <div class="span9" id="mainCol">
        <h3>Vị Trí Địa Lý</h3>
        <hr class="soft">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7446.516695038952!2d105.80545260000001!3d21.0623414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1560765522396!5m2!1svi!2s"
            width="900" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>

    </div>
</div>