<br>
<div class="container">
    <h4 style="color: forestgreen">::Mời nhập thông tin sản phẩm</h4>
    <hr>
    <form>
        <div class="form-group">
            <h6>Tên sản phẩm:</h6>
            <input type="text" class="form-control" [(ngModel)]="product.name" name="productName">

        </div>
        <div class="form-group">
            <h6>Giá sản phẩm:</h6>
            <input type="Text" class="form-control" [(ngModel)]="product.price" name="productPrice">
        </div>
        <div class="form-group">
            <h6>Thông tin:</h6>
            <input type="Text" class="form-control" [(ngModel)]="product.desscription" name="productdecrip">
        </div>
        

        <button type="submit" class="btn btn-primary" (click)="addProduct()">Save</button>
    </form>


</div>